</body>
  
<footer>
  <div class="footer" id="footer">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <h4> Web Synergy </h4>
              </div>
              <div class="col-lg-3 col-sm-2 col-xs-3">
                  <h3> Contact </h3>
                  <ul>
                      <li><a class="email"href="#"> insert email here </a></li>
                      <br/>
                      <li> <p> Brian Fleming BSc(Hons) </p> </li>
                      
                  </ul>
              </div>
              <div class="col-lg-3 col-sm-2 col-xs-3">
                  <ul>
                      <li> <h5> <a href="/contact" style="margin-top: 5em"> NEWS LETTER</a> <h5></li>
                        <li> <h5><a href="/gdpr"> GDPR </a> <h5></li>
                      <li> <h5><a href="/about"> ABOUT </a> <h5></li>
                  </ul>
              </div>
             
          <!--/.row--> 
      </div>
      <!--/.container--> 
  </div>
  <!--/.footer-->
                        
  <div class="footer-bottom">
      <div class="container">
          <p class="pull-left copyright"> Copyright © Web Synergy 2020. All right reserved. </p>
          
     
      </div>
  </div>
  <!--/.footer-bottom--> 

</footer>




</html>