<%- include("partials/header"); -%>

<h1>About Web-Synergy</h1>
<div class="cont">
<h3>Brian Fleming BSc(Hons)</h3>
<p >As a web and app developer, I have completed an Open university degree in 2018 
    and have many more years experience in providing computer support.</p>
<p>I have produced several websites that are both commercial and personal </p>
<p>I use the latest coding techniques such as EJS and React with express.</p>

</div>


<%- include("partials/footer"); -%>