<%- include("partials/header"); -%>

<h3>About Web-Synergy</h3>
<p class="nav-link">As a web and app developer, I have completed an Open university degree in 2018 
    and have many more years experience in providing computer support.

</p>




<%- include("partials/footer"); -%>