<%- include("partials/header"); -%>

<h1>Success</h1>

<div class="padding">
<h4 class="center">You have signed to Web-Synergy and will recieve a news letter in due course.</h4>
<div id="image">

</div>
</div>


<%- include("partials/footer"); -%>