

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
}

h2{
  font-family: "Montserrat-bold";
  font-size: 3.5rem;

}

h3{
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
}



p{
  color: #8f8f8f;
}

/* title */
#title {
  background-color: #0278ae;
}


/* navigation bar */

.container-fluid {
  padding: 3% 15% 8%;
}

.container{
  background-color: whitesmoke;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  color: #e8ffc1;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-nav  li a:hover {
  color: #c1f6ff !important;
}

.li{
  color: white;
}

.nav-item{
  padding-right: 18px;

}
.nav-link{
  color: #e8ffc1;
}

.inputBox{
  text-align: left;
  width: 100%;
}


/* image rotate */
.title-image {
position: absolute;
  width: 110%;
 
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
.download-button {
  margin: 5% 3% 5% 0;
}


/* features section */

#features{
  padding: 8% 15%;
  background-color: white;
  position: relative;

}
.feature-box{
  text-align: center;
}

.fas{
  color: #ef8172;
  font-size: 3rem;
}

.fas:hover{
  color: #ff4c68;
}

/* testermonials */

#testimonials{

  text-align: center;
  background-color:  #0278ae;
  color: white;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  text-align: center;
  background-color: #51adcf;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing{
  padding: 100px;
  text-align: center;
}

/* call to action */
#cta{
  text-align: center;
}

/* footer */
#footer{
  text-align: center;

}

.onRight{
  text-align: right;
  padding-right: 2rem;
  color: #0278ae;
}
